*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_12{
    width: 1520px;
    margin: 0 auto;
    min-height: 2000px;
    
}
/* ĐẦU TRANG: LOGO, TÌM KIẾM,ACCOUNT, GIOHANG */
header{
    width: 100%;
    height: 65px;
    background-color: Linen ;
}
.logo{
    width: 9%;
    height: 65px;
    float: left;
   
}
.logo img{
    width: 110%;
    margin-left: -10px;
}
.header{
    width: 50%;
    height: 65px;
    float: left;
    margin-left: 10%;
}
.header .header-search{
    flex: 4;
    display: flex;
    margin-left: 0px;
    width: 100%;
    
}

.header-pn-search{
    font-size: 20px;
    color: rgb(68, 50, 50);
    position: relative;
    right: 80px;
    top: 18px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.header .header-pn-search:hover{
    opacity: 0.8;
}


.header .header-search-ptn{
    width:100%;
    height: 30px;
    text-align: left;
    margin:18px 38px;
    font-size: 14px;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);  
}
.account{
    width: 11%;
    height: 65px;
    
    float: left;
    margin-left: 190px;
    position: relative;
}
.account i{
    
    font-size: 45px;
    color: black;
    left: 60px;
    
    position: relative;
    
    
}
.link>a:hover{
    color: gray;
}
.link>a{
    margin-left: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    
    
}

.giohang{
    width: 6%;
    height: 65px;
   
    float: right;
    margin-right: 5px;
    position: relative;
}
.giohang i{
    font-size: 45px;
    color: black;
    right: -22px;
    top: 0px;
    position: relative;
}
.giohang .cart>a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    
}
.cart>a:hover{
    color: gray;
}
/* KẾT THÚC ĐẦU TRANG */
/* MENU */
nav{
    width: 100%;
    float: left;
    height: 40px;
    margin-top:70px;
    background-color: dimgray;
    margin-top: 1px;
}
.hmenu{
    list-style: none;
    text-align: center;
    
}
.hmenu>li{
    display: inline-block;
    margin: 0 60px;
    position: relative;
}
.hmenu>li>a{
    text-decoration: none;
    font-size: 1.2em;
    color: #EEE;
    display: block;
    padding:10px 5px;
}
.hmenu>li>a:hover{
    color: rgb(241, 195, 148);
    font-weight: bold;
}
.hmenu>li:hover .smenu{
    display: block;
}
.smenu{
    list-style: none;
    position: absolute;
    top: 40px;
    left : -20px;
    width: 200px;
    background-color: white;
    padding: 10px 20px;
    display: none;
    z-index: 10;
}
.smenu>li{
    display: block;

    border-bottom: 1px solid rgb(129, 122, 122);
}
.smenu>li>a{
    text-decoration: none;
    color: gray;
    font-size: 1.2em;
    padding: 10px 0 10px;
    display: block;
}
.hmenu .smenu>li:hover{
    background-color: rgb(230, 152, 144);
}
/* KẾT THÚC MENU */
.sach1{
    width: 98%;
    height:745px;
    background-color: rgb(253, 250, 251);
    top: 50px;
    left: 15px;
    box-shadow:0 0 5px gray;
    border-radius: 20px;
    margin: 0px;
    padding: 20px;
    position: relative;
}
.sach2{
    width: 98%;
    height:350px;
    background-color: rgb(253, 250, 251);
    top: 80px;
    left: 15px;
    box-shadow:0 0 5px gray;
    border-radius: 20px;
    margin: 0px;
    padding: 20px;
    position: relative;
    
}
.sach2 h3{
    font-size: 28px;
}
.oo1{
    width: 95%;
    height:700px;
   
    margin-top: -100px;
    margin-left: 35px;
}
.img{
    width: 40%;
    height:700px;
 
    margin-top: 100px;
    margin-left: 10px;
}
.img img{
    width:  480px;
    height: 650px;
    margin-top: 5px;
    margin-left: 25px;
}
.ban{
    width: 60%;
    height:350px;
   
    margin-top: -700px;
    margin-left: 580px;
}
.ban h4{
    font-size: 40px;
}
.ban p{
    margin-top: 10px;
    font-size: 25px;
}
.ban b{
    font-size: 35px;
    color:brown;
}
.giam-gia{
    color: rgb(201, 13, 13);
    font-size: large;
    font-weight: bolder;
    font-size: 35px;
}
.giam-gia del{
    color: gray;
}
.mua{
    position: absolute;
    top: 370px;
    left: 635px;
    border: 1.5px solid black;
    padding: 13px 20px;
    border-radius: 30px;
    font-family: Montserrat-Medium;
    font-size: 20pt;
}
.mua a{
    text-decoration: none;
    color: black;

}
.mua:hover {
    box-shadow: 0 0 40px rgb(214, 209, 209);
}
table{
    border-collapse: collapse;
    
}
tr{
    height: 50px;
    text-align: left;
    border-color: rgb(245, 246, 247);
    font-size: 20px;
}
th{
    color: aliceblue;
    background-color: rgb(14, 104, 207);
}

tr:nth-child(2n+1){
    background-color: rgb(235, 228, 228);
}
.sach3{
    width: 98%;
    height:450px;
    background-color: rgb(253, 250, 251);
    top: 110px;
    left: 15px;
    box-shadow:0 0 5px gray;
    border-radius: 20px;
    margin: 0px;
    padding: 20px;
    position: relative;
    
}
.sach3 h3{
    font-size: 25px;
}
.sach3 h1{
    font-size: 40px;
    text-align: center;
    color:rgb(95, 90, 90);
}
.sach3 p{
    font-size: 25px;
    color: rgb(110, 105, 105);
}
/*footer*/
footer{
    width: 100%;
    float: left;
    height: 220px;
    margin-top: 140px;
    
}
.phanmot{
    width: 100%;
    height: 180px;
    background-color: #BBBBBB;
}
.phanhai{
    width: 100%;
    height: 40px;
    background-color: #444444;
    position: relative;
}
.help{
    font-family: Montserrat-SemiBoil;
    font-size: 12.5pt;
    padding-top: 20px;
    width: 25%;
    float: left;
    margin-left: 200px;
}
.help a{
    text-decoration: none;
    color: black;
}
.help a:hover{
    text-decoration: underline;
}
.help>ul{
    float: left;
    list-style: none;
    font-family: Montserrat-Regular;
    font-size: 12pt;
    padding: 20px;
}
.help>ul>li{
    padding: 4px;
    margin-left: -23px;
}
.call{
    font-family: Montserrat-SemiBoil;
    font-size: 12.5pt;
    padding-top: 20px;
    width: 25%;
    float: left;
    margin-left: -10px;
}
.call a{
    text-decoration: none;
    color: black;
}
.call a:hover{
    text-decoration: underline;
}
.call>ul{
    float: left;
    list-style: none;
    font-family: Montserrat-Regular;
    font-size: 12pt;
    padding: 20px;
}
.call>ul>li{
    padding: 4px;
    margin-left: -23px;
}

.logo_call a:hover{
    color: rgb(197, 0, 35);
}
.payment{
    font-family: Montserrat-SemiBoil;
    font-size: 12.5pt;
    padding-top: 20px;
    width: 15%;
    float: left;
    margin-left: -100px;
}
.pay{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    padding: 20px;
}
.pay img{
    width: 40px;
}
.lehen {
    padding-top: 30px;
    width: 20%;
    float: right;
    margin-right: 10px; 
}
.lehen img{
    width: 120px;
}
.left{
    color: white;
    font-family: Montserrat-Medium;
    font-size: 13pt;
    float: left;
    padding-top: 10px;
    margin-left:-200px;
}

.left>a{
    margin-left: 300px;
    text-decoration: none;
    color: white;
}

.left>a:hover{
    color: black;
}

.right{
    float: right;
    margin-top: 10px;
    font-size: 13pt;
}
.right>a{
    margin: 0 40px;
    float: right;
    text-decoration: none;
    color: white;
    font-family: Montserrat-Regular;
    list-style: none;
}
.right>a:hover{
    color: black;
}
/* footer */
